<div class=imageContainer>
  <ng-container *ngIf="imagesF.length>0">


    <mat-tab-group class="demo-tab-group">

      <mat-tab class="demo-tab-component">
        <ng-template mat-tab-label>
          Images
        </ng-template>
        <app-image-custom-gallery [images]="images"></app-image-custom-gallery>
      </mat-tab>

      <mat-tab class="demo-tab-component">
        <ng-template mat-tab-label>
          Files
        </ng-template>

        <!-- <table datatable> -->
            <table class="centeredTable">
              <thead>
                <tr>
                  <th> Filename </th>
                  <th> Path </th>
                  <th> Date taken </th>
                </tr>
              </thead>
              <ng-container *ngIf="imageQuery.numberOfImages=='all' && parametersImageQuery">
                <tbody>
                  <tr *ngFor="let item of images | 
                          paginate: { itemsPerPage: parametersImageQuery.entriesPerPage, currentPage: 
                            imageQuery.page,totalItems:parametersImageQuery.numberOfItems  }">
                    <td>{{item.filename}}</td>
                    <td>{{item.path}}</td>
                    <td>{{item.date_taken}}</td>
                  </tr>
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </ng-container>

              <ng-container *ngIf="imageQuery.numberOfImages!='all'">
                <tr *ngFor="let item of images ">
                  <td>{{item.filename}}</td>
                  <td>{{item.path}}</td>
                  <td>{{item.date_taken}}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
      </mat-tab>

      <mat-tab class="demo-tab-component">
        <ng-template mat-tab-label>
          Gallery
        </ng-template>
        <ngx-image-gallery [images]="imagesF" [conf]="conf" (onOpen)="galleryOpened($event)" (onClose)="galleryClosed()" (onDelete)="deleteImage($event)"></ngx-image-gallery>
      </mat-tab>

    </mat-tab-group>
  </ng-container>

</div>