<div class="jumbotron text-center">
  <ul class="nav navbar-nav">
    <li>
      Only last: &emsp;
      <select (change)="onChangeSelector($event)">
        <option *ngFor="let v of options" [value]="v.id">{{v.name}}</option>
      </select> &emsp; &emsp;
    </li>
    <li>
      Only from: &emsp;
      <input type="date" (change)="onChangePicker($event)" [(ngModel)]="date"/> &emsp; &emsp;
    </li>
    <li><form>
      <input type="submit" (ngSubmit)="onClickButton()" value="Submit"/> </form>
    </li>
  </ul>
</div>